@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 33% 3%;
    --foreground: 225 25% 93%;
    --card: 225 18% 8%;
    --card-foreground: 225 25% 93%;
    --popover: 225 18% 8%;
    --popover-foreground: 225 25% 93%;
    --primary: 211 68% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 15% 12%;
    --secondary-foreground: 225 25% 93%;
    --muted: 225 15% 12%;
    --muted-foreground: 228 10% 58%;
    --accent: 225 15% 12%;
    --accent-foreground: 225 25% 93%;
    --destructive: 7 70% 59%;
    --border: 224 16% 16%;
    --input: 224 16% 16%;
    --ring: 211 68% 54%;
    --radius: 0.625rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
